<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="i_ivitem01.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="i_ivitem01.WSSGF1.WSSGF1" value="http://localhost/WSSGF1/WSSGF1.asmx"/></appSettings><applicationSettings>
        <i_ivitem01.Settings>
            <setting name="i_ivitem01_WSSGF1_WSSGF1" serializeAs="String">
                <value>http://localhost/WSSGF1/WSSGF1.asmx</value>
            </setting>
        </i_ivitem01.Settings>
    </applicationSettings>
</configuration>
